/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  

  .container{
    width: 100%;
  }
  .carousel-caption text-start{
    background-color: red;
  }
  img{
    width: 200vh;
    height: 100%;
  }

.row{
  margin-top: 5%;
}
.responsive{
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.btn1{
  color: red;
  text-decoration: none;
  border: 2px solid #c4801a;
  padding: 10px;
  border-radius: 10px;
  color: black;
  transition: 0.9s;
  

}
.btn2{
  color: red;
  text-decoration: none;
  border: 2px solid #5a7bf2;
  padding: 10px;
  border-radius: 10px;
  color: black;
  transition: 0.9s;
 
}
a .btn2{
  margin-top: 60%;
}
.btn3{
  color: red;
  text-decoration: none;
  border: 2px solid #c23888;
  padding: 10px;
  border-radius: 10px;
  color: black;
  transition: 0.9s;
}

.btn1:hover{
  background-color:  #c4801a;
  color: white;
  cursor: pointer;
}
  
.btn2:hover{
  background-color: #5a7bf2;
  color: white;
  cursor: pointer;
}
.btn3:hover{
  background-color:  #c23888;;
  color: white;
  cursor: pointer;
}

.btn4{
  color: red;
  text-decoration: none;
  border: 2px solid #c4801a;
  padding: 10px;
  border-radius: 10px;
  color: black;
  transition: 0.9s;
  

}
.btn5{
  color: red;
  text-decoration: none;
  border: 2px solid #5a7bf2;
  padding: 10px;
  border-radius: 10px;
  color: black;
  transition: 0.9s;
 
}
.btn6{
  color: red;
  text-decoration: none;
  border: 2px solid #c23888;
  padding: 10px;
  border-radius: 10px;
  color: black;
  transition: 0.9s;
}

.btn4:hover{
  background-color:  #c4801a;
  color: white;
  cursor: pointer;
}
  
.btn5:hover{
  background-color: #5a7bf2;
  color: white;
  cursor: pointer;
}
.btn6:hover{
  background-color:  #c23888;;
  color: white;
  cursor: pointer;
}

.btn-direction{
  display: flex;
  justify-content: space-around;
 
}
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
  
    .featurette-heading {
      font-size: 50px;
    }
  }
    
  @media (max-width: 992px) {
    /* Bump up size of carousel content */
    .btn1, .btn2, .btn3{
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 7rem;
    }
    .btn4, .btn5, .btn6{
      display: none;
    }
  }

